# Docker compose for Alerta
version: '2.1'
services:
  proxy:
    image: proxy
    container_name: proxy
    hostname: proxy
    environment:
      TZ: "America/New_York"
    ports:
      - "80:80"
    command: "/usr/bin/supervisord -c /etc/supervisord.conf"

  alerta-server:
    image: alerta
    container_name: alerta
    hostname: alerta
    environment:
      TZ: "America/New_York"
    command: "/usr/bin/supervisord -c /etc/supervisord.conf"

  alerta-web-ui:
    image: alerta-ui
    container_name: alerta-ui
    hostname: alerta-ui
    environment:
      TZ: "America/New_York"
    command: "/usr/bin/supervisord -c /etc/supervisord.conf"

  alerta-db:
    image: alerta-db
    container_name: alerta-db
    hostname: alerta-db
    environment:
      TZ: "America/New_York"
    volumes:
      - alerta-db:/data/db
    command: "/usr/bin/supervisord -c /etc/supervisord.conf"

networks:
  default:
    external:
      name: "monitor_net"

volumes:
  alerta-db:
    external: True
